<!DOCTYPE html>
    <%- include('../partials/head')%>
</html>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'})%>
    <main>
        <div class='jumbotron'>
            <h1>Sobre mim</h1>
            <p>Olá, sou Jorge Dias, testando o sistema EJS.</p>
        </div>
    </main>
</body>
<footer>
    <%- include('../partials/footer')%>
</footer>